<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="CadenaSQL"
             connectionString="Server={DB_SERVER};Database={DB_DATABASE};User Id={DB_USER};Password={DB_PASSWORD};TrustServerCertificate=True;"
             providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>
